#cp-data .panel, 
#qbo-order-data .panel,
#quickbooks_product_data.panel{
	background:#ffffff;
	padding-left:153px;
}
#fallout_order_data.queue.panel,
#queue_product_data.queue.panel{
	padding-left:0;
}
#queue_product_data.panel{
	background:#ffffff;
	min-height:155px;
}
.panel-wrap .cp_data{
	min-height:200px;
}
#cp-data .panel .short,
#quickbooks_order_data.panel p.form-field input.short,
#quickbooks_product_data.panel p.form-field input.short,
#quickbooks_order_data.panel p.form-field select.short,
#quickbooks_product_data.panel p.form-field select.short{
	width:33% !important;
}
#cp_product_options h3{
	/*background:#f5f5f5;*/
	border-bottom:1px solid #dfdfdf;
}
#qbo-order-data .inside,
#qbo-product-data .inside{
	padding:0;
	margin:0;
}
#poststuff h3.heading.variations,
.cp-notice,
.cp-variations-table{
	margin-left:-165px;
}
.cp p{
	float:left;
	margin:2.5px 0;
	width:100%;
}
.cp .columns{
	 column-count: 2;
    column-width: 50%;
    /* Webkit-based */
    -webkit-column-count: 2;
    -webkit-column-width: 50%;
    /* Gecko-based */
    -moz-column-count: 2;
    -moz-column-width: 50%;
}
#qbo-order-data .panel label,
#qbo-product-data .panel label,
#cp-data .panel label{
	float: left;
	width: 150px;
	padding: 0;
	margin: 0 0 0 -150px;
}
#qbo-product-data .panel table label{
	margin:0;
}
.cartpipe_data_tabs{
	background: #f5f5f5;
	line-height: 1em;
	float: left;
	width: 145px;
	margin: 0 0 0 -153px;
	position: relative;
	padding: 0 0 10px;
}
#qbo-order-data .panel-wrap,
#qbo-product-data .panel-wrap{
	background: #fff;
	padding-left: 153px;
}
.cartpipe_data_tabs li a{
	padding: 10px;
	line-height: 18px!important;
	margin: 0;
	display: block;
	background: #f5f5f5;
	text-decoration: none;
	border-bottom: 1px solid #f5f5f5;
	border-top: 1px solid #eaeaea;
}
.live-edit{
	position:absolute;
	right:15px;
	padding:5px;
}
.hide{
	display:none;
	visibility: hidden;
}
.qb_content{
	
}
#qbo-order-data .panel .live-edit input,
#qbo-order-data .panel .live-edit img,
#qbo-order-data .panel .live-edit label,
#qbo-product-data .panel .live-edit input,
#qbo-product-data .panel .live-edit img,
#qbo-product-data .panel .live-edit label{
	margin:0;
	padding:0 5px;
	width:auto;
}
ul.sync-status{
	position:absolute;
	margin:0 auto;
	left:25%;
	top:25%;
	color:#000000;
	font-size:16px;
	font-weight:bold;
}
/*
 * Cartpipe Messages
 */
#cp_messages{
	border-top:3px solid #94c841;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding:10px;
	margin-top:10px;
	margin-right:10px;
	
}
#cp_messages p{
	padding-top:7.5px;
}
.queued{
	/*background-color: rgba(148, 200, 65, 0.1) !important;
	border:2px solid rgba(148, 200, 65, 1.0) !important;*/
	
}
.type-shop_order{
    -webkit-transition: backgroundColor 0.05s ease-in-out;
    -moz-transition:    backgroundColor 0.05s ease-in-out;
    -ms-transition:     backgroundColor 0.05s ease-in-out;
    transition:         backgroundColor 0.05s ease-in-out;
}
/*
 * Queue Actions Meta Box 
 */
table.queue-actions{
	width:100%;
	padding:5px;
}
table.queue-actions tr:first-child td{
	border-top:0;
}
table.queue-actions td{
	padding:5px 0;
	border-top:1px solid #ccc;
	border-collapse: collapse;
}
/*
 * Order View
 */
.widefat .column-order_actions a.button.tips.transfer{
	/*text-indent: -9999px;
	position: relative;
	height:2em;
	font-size:12.5px;
	width:2em;
	padding:0;*/
	/*background:url(images/cloud-icon-black.png) no-repeat center center;*/
}

.widefat .column-order_actions a.button.tips.transfer:after{
	/*content:'\e800';*/
	text-indent: 0;
  position: absolute;
  width: 100%;
  font-family: 'cartpipe' !important;
  content: "\e800";
  height: 100%;
  color:#94c841;
}
.widefat .column-order_actions a.button.tips.transfer.queued{
	background-color:rgba(148, 200, 65, 0.3);
	border: 1px solid #94c841;
}
.widefat .column-order_actions a.button.tips.transfer.success{
	background-color:rgba(148, 200, 65, 0.3);
	border: 1px solid #94c841; 
}
.post-type-shop_order table.wp-list-table tbody#the-list tr {
  position: relative;
}
.drawer {
  display: none;
  position: absolute;
  background:dodgerblue;
}
.cp-dismiss{
	float:right;
	font-size:16px;
}
/*
 * Messages
 */
.product-import-result{
	display:none;
}
.sync_box,
.sync_box label{
	display: inline;
	font-size:10px;
}
.qbo .disabled{
	
}
#cp_messages img.icon{
	margin-right:10px;
}
#cp_messages span{
	position: relative;
	top:-5px;
}
i.cp-logo{
	font-style:normal;
	display:block;
	float:left;
	margin-top:-3px;
}
i.cp-logo:before{
	font-family: 'cartpipe' !important;
  	content: "\e800";
  	font-size: 1.5em!important;
  	color:#77b141;
  	margin-right:15px;
  	font-weight:normal;
  	
}
#adminmenu #toplevel_page_cartpipe .menu-icon-generic div.wp-menu-image:before {
  font-family: 'cartpipe' !important;
  content: "\e800";
  font-size: 1.3em!important;
}
.qbo .icon32{
	display:block;
}
.qbo h2.nav-tab-wrapper, .qbo h3.nav-tab-wrapper{
	padding-left:35px;
	margin-top:-25px;
}
#icon-qbo:before{
	font-family: 'cartpipe' !important;
  content: "\e800";
  font-size: 2.3em!important;
  position: relative;
  top:15px;
  color:#77b141;
}
.cp-features{
	float:left;
	margin-top:5px;
}
.cp-features i.cp-logo:before{
	color:rgba(119, 177, 65, 0.5);
}
.cp-features dt:first-child{
	border-top:none;
	padding-top:0;
	padding-bottom:5px;
}
.cp-features dd ul{
	padding-top:0;
	margin-top:0;
}
a.cp-recheck-license,
a.cp-renew{
	border:1px solid #77b141;
	background:rgba(119, 177, 65, 0.09);
	color:#77b141;
	padding:5px 10px;
	border-radius: 3px;
	margin-left:20px;
	
}
.cp-features dt{
	padding-top:10px;
}
.cp-features dd{
	color:#7c7c7c;
	font-style:italic;
}
